---
layout: inner
title: Config
---

<script type="text/javascript" src="../action.js"></script>
<script type="text/javascript" src="config.js"></script>

<form id="serviceForm" class="form-horizontal" role="form">
  <div class="row">
    <div class="col-md-8">
      <!-- General settings-->
      <div class="panel panel-gray" id="generalSettings">
        <div class="panel-heading"><h3>General settings</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">IMAGE</label>
            <div class="col-sm-9">
              <span class="label label-info" id="image"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="serviceName">SERVICE NAME</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-no-border" id="serviceName" name="serviceName" placeholder="SERVICE NAME">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="stackList">ADD TO STACK</label>
            <div class="col-sm-9">
              <select class="form-control" id="stackList" name="stack" placeholder="Select a Stack">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="restartCondition">Restart Condition</label>
            <div class="col-sm-9">
              <label class="radio-inline">
                <input type="radio" name="restartCondition" id="restartCondition1" checked value="none"> none
              </label>
              <label class="radio-inline">
                <input type="radio" name="restartCondition" id="restartCondition2" value="on-failure"> on-failure
              </label>
              <label class="radio-inline">
                <input type="radio" name="restartCondition" id="restartCondition3" value="any"> any
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="mode">MODE</label>
            <div class="col-sm-9">
              <label class="radio-inline">
                <input type="radio" name="mode" id="mode1" value="replicated" checked> replicated
              </label>
              <label class="radio-inline">
                <input type="radio" name="mode" id="mode2" value="global"> global
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="containers">CONTAINERS</label>
            <div class="col-sm-9">
                <input type="number" name="containers" id="containers" value="1"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="networkList">NETWORK</label>
            <div class="col-sm-9">
              <select class="form-control" id="networkList" name="network">
                <option value="none">none</option>
                <option value="bridge">bridge</option>
                <option value="host">host</option>
                <option value="container">container</option>
                <option value="ingress" selected>ingress</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!--Container setting-->
      <div class="panel panel-gray" id="containerSettings">
        <div class="panel-heading"><h3>Container settings</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="command">RUN COMMAND</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-no-border" id="command" name="command" placeholder="RUN COMMAND">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="args">COMMAND ARGS</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-no-border" id="args" name="args" placeholder="COMMAND ARGS">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="dir">DIR</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-no-border" id="dir" name="dir" placeholder="the working directory for commands to run in">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="user">User</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-no-border" id="user" name="user" placeholder="the user inside the container">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="memlimit">MEMORY</label>
            <div class="col-sm-9">
              <div class="form-group">
                <label class="col-sm-1 control-label" for="memlimit">LIMIT</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control input-no-border" id="memlimit" name="memlimit" />Mb
                </div>
                <label class="col-sm-3 control-label" for="memReservation">RESERVATION</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control input-no-border" id="memReservation" name="memReservation" />Mb
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="cpulimit">CPU</label>
            <div class="col-sm-9">
              <div class="form-group">
                <label class="col-sm-1 control-label" for="cpulimit">LIMIT</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control input-no-border" id="cpulimit" name="cpulimit" />Shares
                </div>
                <label class="col-sm-3 control-label" for="cpulReservation">RESERVATION</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control input-no-border" id="cpulReservation" name="cpulReservation" />Shares
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="label">Labels</label>
            <div class="col-sm-9">
              <div class="form-group">
                <div class="col-sm-5">
                  <input type="text" class="form-control input-no-border" id="label" name="label" placeholder=""/>
                </div>
                <div class="col-sm-5">
                  <input type="text" class="form-control input-no-border" id="labelV" name="labelV" placeholder=""/>
                </div>
                <div class="col-sm-2">
                  <span class="glyphicon glyphicon-plus" id="btnAddLabel"></span>
                </div>
                <table id="tblLabels" class="table light">
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">VOLUMES</label>
            <div class="col-sm-9">
              <div class="form-group">
                <div class="col-sm-4">
                  <input type="text" class="form-control input-no-border" id="c_path" name="c_path" placeholder="Container path"/>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-no-border" id="h_path" name="h_path" placeholder="Host path"/>
                </div>
                <div class="col-sm-3">
                  <select id="readable" name="readable">
                    <option value="true">Readable</option>
                    <option value="false">Writable</option>
                  </select>
                </div>
                <div class="col-sm-1">
                  <span class="glyphicon glyphicon-plus" id="btnAddVolumes"></span>
                </div>
                <table id="tblVolumes" class="table light">
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Update Config -->
      <div class="panel panel-gray" id="updateConfig">
        <div class="panel-heading"><h3>Update Config</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="parallelism">PARALLELISM</label>
            <div class="col-sm-9">
              <input type="number" class="form-control input-no-border" id="parallelism" name="parallelism" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="delay">DELAY</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-no-border" id="delay" name="delay" placeholder="例如：10m30s表示10分钟30秒的延迟">
            </div>
          </div>
        </div>
      </div>
      
      <!-- EndpointSpec -->
      <div class="panel panel-gray" id="endpointSpec">
        <div class="panel-heading"><h3>EndpointSpec</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="epMode">MODE</label>
            <div class="col-sm-9">
              <label class="radio-inline">
                <input type="radio" name="epMode" id="epMode1" value="vip" checked> vip
              </label>
              <label class="radio-inline">
                <input type="radio" name="epMode" id="epMode2" value="dnsrr"> dnsrr
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">PORTS</label>
            <div class="col-sm-9">
              <table id="tblEpPort" class="table light">
                <thead>
                  <tr>
                    <th style="width: 24%;">Container Port</th>
                    <th style="width: 20%;">Protocol</th>
                    <th style="width: 14%;">Published</th>
                    <th style="width: 24%;">Node Port</th>
                    <th style="width: 8%;"></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <span class="pull-right">
                <button class="btn btn-default" id="btnUseImageDefault" name="btnUseImageDefault">Use image values</button>
                <button class="btn btn-default" id="btnAddPort" name="btnAddPort">Add port</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Environment variables -->
      <div class="panel panel-gray" id="environmentVariables">
        <div class="panel-heading"><h3>Environment variables</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
          	<div class="col-sm-5">
              <input type="text" class="form-control input-no-border" id="envName" name="envName" placeholder="NAME"/>
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control input-no-border" id="envValue" name="envValue" placeholder="VALUE"/>
            </div>
            <div class="col-sm-2">
              <span class="glyphicon glyphicon-plus" id="btnAddEnv"></span>
            </div>
            <table id="tblEnvs" class="table light">
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-gray fixed">
        <div class="panel-heading">SUMMARY
        </div>
        <div class="panel-body">
          <div class="summarys">
            <a class="col-md-12" href="#generalSettings">General settings</a>
            <a class="col-md-12" href="#containerSettings">Container settings</a>
            <a class="col-md-12" href="#updateConfig">Update Config</a>
            <a class="col-md-12" href="#endpointSpec">EndpointSpec</a>
            <a class="col-md-12" href="#environmentVariables">Environment variables</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
