<!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
  </div>
</footer>

<link href="https://fogray.github.io/dc-web/skins/plugins/nouislider/nouislider.min.css" rel="stylesheet">
<link href="https://fogray.github.io/dc-web/skins/plugins/nouislider/nouislider.pips.css" rel="stylesheet">
<link href="https://fogray.github.io/dc-web/skins/plugins/nouislider/nouislider.tooltips.css" rel="stylesheet">

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



