.panel-heading,panel-body{
  background-color: #f0f0f0;
}
/**Scale start**/
.noUiSlider.noUi-horizontal{
  width: 200px;
  height: 8px;
  top: 14px;
}
.noUiSlider .noUi-base{
  background-color: #abe2fb;
}
.noUiSlider .noUi-base .noUi-origin{
  background-color: #f0f0f0;
}
.noUi-horizontal .noUi-handle{
  width: 15px;
  height: 15px;
  border-radius: 6px !important;
  left: 0px;
  top: -5px;
}
.noUi-handle:after, .noUi-handle:before{
  height: 0px;
  width: 0px;
}
/**Scale end**/
