<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    
    <div class="container bs-docs-container">
      <div class="row">
      	<div class="col-md-3">
      		{% include left-nav.html %}
      	</div>
        <div class="col-md-9" role="main">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
