---
layout: home
title: Services
---
<script type="text/javascript" src="action.js"></script>
<!--<script type="text/javascript" src="/dc-web/skins/js/angular.min.js"></script>-->
<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>

<div ng-app>
  <div class="row" ng-controller="imagesController">
    <div class="col-md-12">
      <div class="row" ng-repeat="image in images">
        <div class="col-md-4">{{image.RepoTags[0]}}</div>
        <div class="col-md-4">{{image.Created}}</div>
        <div class="col-md-4">{{image.Size}}</div>
      </div>
    </div>
    <script type="text/javascript">
      function imagesController($scope){
        $scope.images=[{RepoTags:["aaa"], Created:"12312", Size:"2312"}];
        $.get('http://dev.imaicloud.com/dc/api/images').success(function(data) {
          $scope.images = data;
        });
      }
    </script>  
  </div>
</div>
