---
layout: home
title: Images
---
<script type="text/javascript" src="action.js"></script>
<!--<script type="text/javascript" src="/dc-web/skins/js/angular.min.js"></script>-->
<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>

<div ng-app="myapp">
  <div class="row" ng-controller="imagesCtrl">
    <div class="col-md-12">
      <div class="row" ng-repeat="myimage in myimages">
        <div class="col-md-4">{{ myimage.RepoTags[0] }}</div>
        <div class="col-md-4">{{ myimage.Created }}</div>
        <div class="col-md-4">{{ myimage.Size }}</div>
      </div>
    </div>  
  </div>
</div>
<script type="text/javascript">
    var app = angular.module("myapp", []);
  setTimeout(function(){
    app.controller("imagesCtrl", function($scope,$http) {
      $http.get('http://dev.imaicloud.com/dc/api/images').success(function(data) {
        //$scope.$apply(function(){
          $scope.myimages = data;
        //});
        $scope.$apply();
         // $scope.$digest();
      });
    });
    }, 2000);
</script>
