---
layout: home
title: 应用列表
---
<script src="//cdn.bootcss.com/vue/2.1.6/vue.min.js"></script>
<script type="text/javascript" src="/dc-web/skins/js/docker/api/service.js"></script>
<script type="text/javascript" src="list.js"></script>
  <!-- page title -->
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h3>应用列表
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="captions">
            <div class="checkbox">
              <label>
                <input class="selector selector-all" type="checkbox">Select All
              </label>
            </div>
          </div>
          <div class="actions">
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" id="actions" type="button" data-toggle="dropdown">Actions
                <span class="caret"></span></button>
              <ul class="dropdown-menu actions" role="menu" aria-labelledby="actions">
                <li><a href="#" onclick="stop()">Stop</a></li>
                <li><a href="#" onclick="start()">Start</a></li>
                <li><a href="#" onclick="redeploy()">Redeploy</a></li>
                <li><a href="#" onclick="terminate()">Terminate</a></li>
              </ul>
            </div>
            <button class="btn btn-default btn-info service-action service-action-create">Create</button>
          </div>
        </div>
        <div class="panel-body">
					<!-- demo root element -->
					<div id="serviceList">
					  <form id="search">
					    <input name="query" v-model="searchQuery" placeholder="应用名" />
					  </form>
					  <vue-grid :data="gridData" :columnKeys="gridColumnKeys" :columnNames="gridColumnNames" :filter-key="searchQuery">
					  </vue-grid>
					</div>
        </div>
      </div>
    </div>
  </div>
