---
layout: home
title: Services
---
<script type="text/javascript" src="action.js"></script>
<script type="text/javascript" src="list.js"></script>
  <!-- page title -->
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h3>
          Services <small></small>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="captions">
            <input class="ckb-choose" type="checkbox">Select All
          </div>
          <div class="actions">
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" id="actions" type="button" data-toggle="dropdown">Actions
                <span class="caret"></span></button>
              <ul class="dropdown-menu actions" role="menu" aria-labelledby="actions">
                <li><a href="#" onclick="stop()">Stop</a></li>
                <li><a href="#" onclick="start()">Start</a></li>
                <li><a href="#" onclick="redeploy()">Redeploy</a></li>
                <li><a href="#" onclick="terminate()">Terminate</a></li>
              </ul>
            </div>
            <button class="btn btn-default btn-info" onclick="create()">Create</button>
          </div>
        </div>
        <div class="panel-body">
          <ul class="list-group" id="serviceList">
          </ul>
        </div>
      </div>
    </div>
  </div>
