section.page-content{
  margin-top: 61px;
}
.page-header{
  margin: 10px 0px 10px 0;
}
.panel-heading{
  min-height: 65px;
}
.panel-heading>.captions{
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 2;
}
.panel-heading>.actions{
  float: right;
  display: inline-block;
  padding: 6px 0 14px 0;
}

## ul li ##
ul>li{
  list-style: none;
}
ul#serviceList>li{
  border-bottom: 1px solid #ccc;
  list-style: none;
  padding: 15px 5px 15px 5px;
}

ul#serviceList>li:first-child{
  border-top: 1px solid #ccc;
}
ul#serviceList>li:hover{
  background-color: #eee;
  cursor: pointer;
}
